.Compétences {
  background-color:lightgray;
}
h5 {
  text-align: center;
}
h6 {
  text-align: center;
}
p {
  font-size: 5px;
  text-align:left;
  float:center;
}
.bar {
  width:80%;
  height:10px;
  background-color:#e0e0e0;
  margin-bottom: 10px;
  border-radius: 20px;
  float:center;
}
.progress {
  height: 10px;
  background-color:#008000;
  border-radius:30px;
}
td {
  min-width:250px;
  min-height:20px;
  background-color: white;
  border-radius: 40px;
  float:center;
}
table {
  border-collapse: separate;
  border-spacing: 30px;
  float:center;
  border-radius: 30px;
}