 .contact {
  background-color:black;
  min-height: 300px;
}
span {
  color:green;
}
h4 {
  text-align: center;
  color:white;
}
label{
  color:white;
  font-size: 5px;
}
input {
  margin-top:10px;
  float: center;
}
button {
  background-color:green;
  color:white;
  float:center;
}
p {
  font-size:10px;
  margin-inline:40px;
}
.message {
margin-top:10px;
min-height: 80px;
min-width: 500px;
}